<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FileMapper">

	<!-- <resultMap type="product" id="fileSelectMap"> <result property="prodNo" 
		column="prod_no" jdbcType="NUMERIC"/> <result property="product.fileName" 
		column="image_file" jdbcType="VARCHAR"/> </resultMap> -->

	<update id="insertFile" parameterType="java.util.List">
		<if test="list == null">
				INSERT
				INTO files (prod_no, image_file)
				VALUES (seq_product_prod_no.CURRVAL, null)
		</if>
		<if test="list != null">
			<foreach collection="list" item="item" open="INSERT ALL"
				close="SELECT * FROM DUAL" separator=" ">
				INTO files (prod_no, image_file)
				VALUES (seq_product_prod_no.CURRVAL, #{item:VARCHAR})
			</foreach>
		</if>
	</update>

	<select id="findFile" resultType="String">
		SELECT
		image_file
		FROM files
		WHERE prod_no = #{prodNo}
	</select>
	
	<delete id="updateFile1" parameterType="product">
		DELETE
		FROM files
		WHERE prod_no = #{prodNo}
	</delete>

	<update id="updateFile2" parameterType="product">
		<if test="fileName == null">
				INSERT
				INTO files (prod_no, image_file)
				VALUES (#{prodNo}, null)
		</if>
		<if test="fileName != null">
			<foreach collection="fileName" item="item" open="INSERT ALL"
				close="SELECT * FROM DUAL" separator=" ">
				INTO files (prod_no, image_file)
				VALUES (#{prodNo}, #{item:VARCHAR})
			</foreach>
		</if>
	</update>

</mapper>